/**
Theme Name: Alsafeer Publishing & Adverting
Author: Alsafeer Publishing & Adverting
Author URI: http://alsafeeradvt.com/
Description: Default theme for the Alsafeer Main web page
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: alsafeer-publishing-adverting
Template: astra
*/

.ytp-chrome-top .ytp-show-cards-title {
    display: none !important;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #3c3c3c;
  border-radius: 10px;
  background:#3c3c3c;
}
  
  
  /* Handle */
::-webkit-scrollbar-thumb {
  background: #c3c3c3;
  border-radius: 10px;
}

a:hover {
  color: inherit;
  text-decoration: none !important;
}

.elementor-78 .elementor-element.elementor-element-89212b0 .elementor-nav-menu--dropdown li:last-child a {
  border-radius: 10px !important;
}

.elementor-78 .elementor-element.elementor-element-89212b0 .elementor-nav-menu--dropdown li:first-child a {
  border-radius: 10px !important;
}

/* Test */