.portfolio-catergory-grid-title-container {
    background: #000000b3;
    padding: 10px 0px;
}

h3.portfolio-catergory-grid {
    font-family: "PT Serif";
    font-weight: bold;
    font-size: 21px;
    letter-spacing: 0.05em;
    text-align: center;
    margin: 0;
    color: #fff;
}