.portfolio-catergory-grid-title-container {
    background: #000000b3;
    padding: 10px 0;
    border-radius: 0 0 10px 10px;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 999;
}

h3.portfolio-catergory-grid {
    font-family: "PT Serif";
    font-weight: bold;
    font-size: 21px;
    letter-spacing: 0.05em;
    text-align: center;
    margin: 0;
    color: #fff;
}

img.portfolio-catergory-grid-img {
    border-radius: 10px;
}


.portfolio-catergory-grid-content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: center;
    text-align: center;
    align-items: stretch;
    position: relative;
    width: 100%;
}

.portfolio-catergory-grid-container-overlay {
    width: 100%;
    height: 100%;
    background: #000000;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

a.portfolio-catergory-grid-wrapper-link {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: center;
    text-align: center;
    align-items: stretch;
    position: relative;
    width: 100%;
}

a.portfolio-catergory-grid-wrapper-link:hover .portfolio-catergory-grid-container-overlay {
    opacity: 0.5;
    transition: all .6s ease-in-out;
}