.portfolio-catergory-grid-title-container {
    background: #000000b3;
    padding: 10px 0;
    border-radius: 0 0 10px 10px;
    position: absolute;
    text-align: center;
    width: 100%;
}
a.portfolio-catergory-grid-wrapper-link {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: center;
    text-align: center;
    align-items: stretch;
    position: relative;
    width: 100%;
}

h3.portfolio-catergory-grid {
    font-family: "PT Serif";
    font-weight: bold;
    font-size: 21px;
    letter-spacing: 0.05em;
    text-align: center;
    margin: 0;
    color: #fff;
}

img.portfolio-catergory-grid-img {
    border-radius: 10px;
}