img.client-logo {
    object-fit: fill;
    width: 360px;
    height: 120px;
}

svg.nav-main-clients-logo {
    width: 10px;
    fill: #707070;
}

.prev-btn-clients.clients-cust-nav {
    transform: rotateY(180deg);
}

div.dark-dots .owl-dots .owl-dot span {
    background: #8F8F8F;
}

div.clients-carousel .owl-dots {
    margin-top: 60px;
}

.clients-cust-nav {
    display: flex;
    align-content: center;
    align-items: center;
    padding: 10px !important;
}
div.clients-carousel .owl-nav {
    position: absolute;
    bottom: 30vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}