/*

Combined Styles - 1.0

This file is carries all the Style sheet data in includes/css folder.

This was made for optimized CSS delivery

All style sheet data is divided with comment with the name of the respective CSS file name.

Always maintain style sheet order in alphabetical order

Always do changes on main CSS file and Update on this file to avoid confutions

*/

/* CLIENTS CAROUSEL */

img.client-logo {
  object-fit: fill;
  width: 360px;
  height: 120px;
  padding: 0px 20px;
}

svg.nav-main-clients-logo {
  width: 10px;
  fill: #707070;
}

.prev-btn-clients.clients-cust-nav {
  transform: rotateY(180deg);
}

div.dark-dots .owl-dots .owl-dot span {
  background: #8f8f8f;
}

div.clients-carousel .owl-dots {
  margin-top: 60px;
}

.clients-cust-nav {
  display: flex;
  align-content: center;
  align-items: center;
  padding: 10px !important;
}

div.clients-carousel .owl-nav {
  position: absolute;
  bottom: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#clients-carousel button.owl-prev {
  position: relative;
  right: 0px;
  z-index: 10;
}

#clients-carousel button.owl-next {
  position: relative;
  left: 0px;
  z-index: 10;
}

/* CLIENTS CAROUSEL END */

/* OWL CAROUSEL DEFAULT */

.owl-theme .owl-nav {
  margin-top: 10px;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}

.owl-theme .owl-nav [class*="owl-"] {
  color: #fff;
  font-size: 14px;
  margin: 5px;
  padding: 4px 7px;
  background: #c2c2c2;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
}

.owl-theme .owl-nav [class*="owl-"]:hover {
  background: #676767;
  color: #fff;
  text-decoration: none;
}

.owl-theme .owl-nav .disabled {
  opacity: 0.5;
  cursor: default;
}

.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 10px;
}

.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  *display: inline;
}

.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #c2c2c2;
  display: block;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
  transition: opacity 200ms ease;
  border-radius: 30px;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #676767;
}

/* OWL CAROUSEL DEFAULT THEME END */

/* PRODUCT ARCHIVE GRID STYLES */

article.elementor-post.elementor-grid-item.status-publish.has-post-thumbnail.hentry.ast-grid-common-col.ast-full-width {
  border-radius: 10px;
  /* box-shadow: 0px 0px 10px #000; */
  box-shadow: 0px 0px 30px rgb(0 0 0 / 16%);
}

.elementor-post__text {
  padding: 10px 25px;
  text-align: center;
}

a.elementor-post__read-more {
  background: #fd746c;
  font-family: "PT Sans";
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.05em;
  text-align: center;
  color: #fff;
  padding: 12px 26px;
  border-radius: 30px;
}

.elementor-post__read-more-wrapper {
  margin: 20px 0px;
}

a.elementor-post__read-more:hover {
  background: #f24032;
  box-shadow: 0 0 16px -6px #000;
}

div.feat-prods-carousel .owl-stage-outer {
  padding-bottom: 0px;
}

a.page-numbers {
  margin-top: 10px;
  padding: 3px 10px;
}

span.page-numbers.current {
  padding: 3px 10px;
}

a.page-numbers.next {
  padding: 4px 15px;
}

span.page-numbers {
  margin-top: 10px;
}

ul.cat-list {
  margin-left: 0;
}

/* PRODUCT ARCHIVE GRID STYLES END */

/* COUNTER SUFFIX */

span.elementor-counter-number-suffix {
  font-size: 50px;
  align-self: end;
}

/* COUNTER SUFFIX END */

/* LANGUAGE SWITCHER STYLES */

ul.sub-menu .elementor-nav-menu--dropdown .sm-nowrap {
  border-radius: 10px;
}

.lang-item,
a.elementor-sub-item.menu-link {
  border-radius: 10px;
}

nav.elementor-pagination {
  display: flex;
  margin-top: 45px;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

/* LANGUAGE SWITCHER STYLES END */

/* IMAGE SLIDE SHOW STYLES */

.elementor-slideshow__title {
  display: none;
}

i.eicon-share-arrow {
  display: none;
}

/* IMAGE SLIDE SHOW STYLES END */

/* FEATURED PRODUCTS CAROUSEL STYLES */

.feat-prods-container {
  max-width: 375px;
}

img.feat-prods-feat-image {
  border-radius: 100px 10px 0px 0px;
}

.feat-prods-content-container {
  background: #ffffff;
  padding: 26px 15px 45px 15px;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: flex-start;
  min-height: 320px;
}

h3.feat-prods-title {
  font-family: "PT Serif";
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 0.05em;
  color: #3c3c3c;
  min-height: 45px;
}

p.feat-prods-exerpt {
  font-family: "PT Sans";
  font-weight: normal;
  font-size: 16px;
  letter-spacing: 0.05em;
  line-height: 24px;
  color: #3c3c3c;
  min-height: 100px;
}

p.feat-prods-know-more {
  letter-spacing: 0.05em;
  color: #fff;
  border-radius: 30px;
  background: #fd746c;
  padding: 10px 20px;
}

div.owl-item.active img.feat-prods-feat-image:nth-child(4n) {
  min-height: 432px;
}

div#feat-prods-carousel.owl-carousel .owl-stage {
  align-content: flex-end;
  align-items: flex-end;
}

img.feat-prods-feat-image {
  min-height: 432px;
  object-fit: cover;
}

a.feat-prods-wrapper-link {
  text-decoration: none !important;
}

#feat-prods-carousel div.owl-dots {
  display: none;
}

.feat-prods-cust-nav {
  display: flex;
  align-content: center;
  align-items: center;
  padding: 10px !important;
}

.owl-theme .owl-nav [class*="owl-"]:hover {
  background: #ececec;
  border-radius: 5px;
}

.prev-btn-feat-prod.feat-prods-cust-nav {
  transform: rotateY(180deg);
}

div.feat-prods-carousel .owl-nav {
  position: absolute;
  bottom: 30vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#feat-prods-carousel button.owl-prev {
  position: relative;
  right: 45px;
}

#feat-prods-carousel button.owl-next {
  position: relative;
  left: 35px;
}

#feat-prods-carousel button.owl-prev {
  position: relative;
  right: 65px;
}

#feat-prods-carousel button.owl-next {
  position: relative;
  left: 65px;
}

/* FEATURED PRODUCTS CAROUSEL STYLES END */
