/* OWL Carousel Default Theme */
.owl-theme .owl-nav {
    margin-top: 10px;
    text-align: center;
    -webkit-tap-highlight-color: transparent;
}

.owl-theme .owl-nav [class*='owl-'] {
    color: #FFF;
    font-size: 14px;
    margin: 5px;
    padding: 4px 7px;
    background: #C2C2C2;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px;
}

.owl-theme .owl-nav [class*='owl-']:hover {
    background: #676767;
    color: #FFF;
    text-decoration: none;
}

.owl-theme .owl-nav .disabled {
    opacity: 0.5;
    cursor: default;
}

.owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 10px;
}

.owl-theme .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
    *display: inline;
}

.owl-theme .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    background: #C2C2C2;
    display: block;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
    transition: opacity 200ms ease;
    border-radius: 30px;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #676767;
}

/* OWL Carousel Default Theme END */


/* Portfolio Catergory Archive Post */

article.elementor-post.elementor-grid-item.status-publish.has-post-thumbnail.hentry.ast-grid-common-col.ast-full-width {
    border-radius: 10px;
    /* box-shadow: 0px 0px 10px #000; */
    box-shadow: 0px 0px 30px rgb(0 0 0 / 16%);
}

.elementor-post__text {
    padding: 10px 25px;
    text-align: center;
}

a.elementor-post__read-more {
    background: #fd746c;
    font-family: "PT Sans";
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0.05em;
    text-align: center;
    color: #fff;
    padding: 12px 26px;
    border-radius: 30px;
}

.elementor-post__read-more-wrapper {
    margin: 20px 0px;
}

a.elementor-post__read-more:hover {
    background: #f24032;
    box-shadow: 0 0 16px -6px #000;
}

div.feat-prods-carousel .owl-stage-outer {
    padding-bottom: 0px;
}

/* About us conter suffix */

span.elementor-counter-number-suffix {
    font-size: 50px;
    align-self: end;
}

/* Language Switcher */

ul.sub-menu .elementor-nav-menu--dropdown .sm-nowrap {
    border-radius: 10px;
}

.lang-item,
a.elementor-sub-item.menu-link {
    border-radius: 10px;
}

nav.elementor-pagination {
    display: flex;
    margin-top: 45px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

a.page-numbers {
    margin-top: 10px;
    padding: 3px 10px;
}

span.page-numbers.current {
    padding: 3px 10px;
}

a.page-numbers.next {
    padding: 4px 15px;
}

span.page-numbers {
    margin-top: 10px;
}

ul.cat-list {
    margin-left: 0;
}

.elementor-slideshow__title {
    display: none;
}

i.eicon-share-arrow {
    display: none;
}

/* article.elementor-post.elementor-grid-item.status-publish.has-post-thumbnail.hentry.ast-grid-common-col.ast-full-width {
    height: 540px;
} */


img.feat-prods-mb-feat-image {
    max-width: 350px;
}