.feat-prods-container {
    max-width: 375px;
}

img.feat-prods-feat-image {
    border-radius: 100px 10px 0px 0px;
}

.feat-prods-content-container {
    background: #ffffff;
    padding: 26px 15px 45px 15px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
    min-height: 320px;
}

h3.feat-prods-title {
    font-family: "PT Serif";
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.05em;
    color: #3c3c3c;
    min-height: 45px;
}

p.feat-prods-exerpt {
    font-family: "PT Sans";
    font-weight: normal;
    font-size: 16px;
    letter-spacing: 0.05em;
    line-height: 24px;
    color: #3c3c3c;
    min-height: 100px;
}

p.feat-prods-know-more {
    letter-spacing: 0.05em;
    color: #fff;
    border-radius: 30px;
    background: #fd746c;
    padding: 10px 20px;
}

div.owl-item.active img.feat-prods-feat-image:nth-child(4n) {
    min-height: 432px;
}

div#feat-prods-carousel.owl-carousel .owl-stage {
    align-content: flex-end;
    align-items: flex-end;
}

img.feat-prods-feat-image {
    min-height: 432px;
    object-fit: cover;
}

a.feat-prods-wrapper-link {
    text-decoration: none !important;
}

#feat-prods-carousel div.owl-dots {
    display: none;
}

.feat-prods-cust-nav {
    display: flex;
    align-content: center;
    align-items: center;
    padding: 10px !important;
}

.owl-theme .owl-nav [class*='owl-']:hover {
    background: #ececec;
    border-radius: 5px;
}

.prev-btn-feat-prod.feat-prods-cust-nav {
    transform: rotateY(180deg);
}

div.feat-prods-carousel .owl-nav {
    position: absolute;
    bottom: 30vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#feat-prods-carousel button.owl-prev {
    position: relative;
    right: 45px;
}

#feat-prods-carousel button.owl-next {
    position: relative;
    left: 35px;
}

#feat-prods-carousel button.owl-prev {
    position: relative;
    right: 65px;
}

#feat-prods-carousel button.owl-next {
    position: relative;
    left: 65px;
}