/* Clients carousel */

@media screen and (max-width:1920px) {

    .clients-carousel.owl-item {
        margin-right: 35px;
    }

}

@media screen and (max-width:767px) {

    span.elementor-counter-number-suffix {
        font-size: 20px;
    }

    .elementor-2294 .elementor-element.elementor-element-bc22980 .elementor-post__text {
        margin-bottom: 0px !important;
    }

    h3.portfolio-catergory-grid {
        font-size: 16px;
    }

    a.page-numbers,
    span.page-numbers {
        padding: 3px 10px;
    }

    span.page-numbers.current {
        padding: 3px 10px;
    }

}

@media (max-width: 1366px) {

    .elementor-2294 .elementor-element.elementor-element-bc22980 .elementor-post__text {
        margin-bottom: 0px !important;
    }
    
}