img.promo-feat-image {
    border-radius: 10px 10px 0px 0px;
}

.promotion-container {
    border-radius: 10px;
    box-shadow: 0px 0px 12px -3px #00000070;
}

.promo-content {
    padding: 26px 20px 36px 20px;
    border-radius: 0px 0px 10px 10px;
    background: #fff;
    /* min-height: 275px; */
}

h3.promo-title {
    font-family: "PT Serif";
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.05em;
    text-align: left;
    color: #3c3c3c;

}


p.promo-exerpt {
    font-family: "PT Sans";
    font-weight: normal;
    font-size: 16px;
    letter-spacing: 0.05em;
    line-height: 24px;
    text-align: left;
    color: #3c3c3c;

}

p.promo-know-more {
    font-family: "PT Sans";
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0.05em;
    text-align: center;
    color: #fff;
    border-radius: 30px;
    background: #fd746c;
    padding: 10px 20px;
    width: fit-content;
    margin: 0;
}

p.promo-know-more:hover {
    background: #F24032;
    box-shadow: 0px 0px 16px -6px #000;
}


p.promo-category-title {
    font-family: "PT Sans";
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.05em;
    text-align: center;
    color: #fff;
    border-radius: 30px;
    background: #f4372b;
    padding: 5px 10px;
    width: fit-content;
    position: absolute;
    top: 20px;
    right: 20px;
}

.promo-cust-nav {
    display: flex;
    align-content: center;
    align-items: center;
    padding: 10px !important;
}

.owl-theme .owl-nav [class*='owl-']:hover {
    background: rgb(255, 255, 255);
    border-radius: 5px;
}

.promo-cust-nav:hover>svg {
    fill: #000000;
}

.owl-theme .owl-dots {
    text-align: center;
    -webkit-tap-highlight-color: transparent;
}

.owl-theme .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
    *display: inline;
}

.owl-theme .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    background: #8F8F8F;
    display: block;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
    transition: opacity 200ms ease;
    border-radius: 30px;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #000000;
}

.prev-btn.promo-cust-nav {
    transform: rotateY(180deg);
}

svg.promo-nav-main {
    width: 10px;
    fill: #ffffff;
}

div.promotions-carousel .owl-dots {
    margin-top: 35px;
}

div.promotions-carousel .owl-dots .owl-dot span {
    background: #ffffff;
}

div.promotions-carousel .owl-nav {
    position: absolute;
    top: 25vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

a.promo-link {
    text-decoration: none !important;
}


/* Promotions Slider Light BG */

.prev-btn-light.promo-cust-nav {
    transform: rotateY(180deg);
}

svg.promo-nav-main-light {
    width: 10px;
    fill: #707070;
}

div.dots-light .owl-dots .owl-dot span {
    background: #D1D1D1;
}

div.promotions-carousel > .owl-stage-outer {
    padding-top: 10px;
    padding-bottom: 10px;
}

#promotions-carousel button.owl-prev {
    position: relative;
    right: 5px;
}

#promotions-carousel button.owl-next {
    position: relative;
    left: 5px;
}

#promotions-carousel-light button.owl-prev {
    position: relative;
    right: 5px;
}

#promotions-carousel-light button.owl-next {
    position: relative;
    left: 5px;
}
