img.service-feat-image {
    border-radius: 10px 10px 0px 0px;
}

.service-content {
    padding: 26px 20px 36px 20px;
    border-radius: 0px 0px 10px 10px;
    background: #fff;

}

.service-content.text-center {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
    min-height: 270px;
}

h3.service-title {
    font-family: "PT Serif";
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.05em;
    text-align: center;
    color: #3c3c3c;
    min-height: 45px;

}


p.service-exerpt {
    font-family: "PT Sans";
    font-weight: normal;
    font-size: 16px;
    letter-spacing: 0.05em;
    line-height: 24px;
    text-align: center;
    color: #3c3c3c;
    min-height: 97px;
}

p.service-know-more {
    font-family: "PT Sans";
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0.05em;
    text-align: center;
    color: #fff;
    border-radius: 30px;
    background: #fd746c;
    padding: 10px 20px;
    width: fit-content;
    margin: 0;
}

p.service-know-more:hover {
    background: #F24032;
    box-shadow: 0px 0px 16px -6px #000;
}


.service-cust-nav {
    display: flex;
    align-content: center;
    align-items: center;
    padding: 10px !important;
}

.owl-theme .owl-nav [class*='owl-']:hover {
    background: #ececec;
    border-radius: 5px;
}

div.light .owl-nav [class*='owl-']:hover {
    background: #b7b7b7;
    border-radius: 5px;
}

.light-nav:hover>svg {
    fill: #ffffff;
}

.owl-theme .owl-dots {
    text-align: center;
    -webkit-tap-highlight-color: transparent;
}

.owl-theme .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
    *display: inline;
}

.owl-theme .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    background: #ffffff;
    display: block;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
    transition: opacity 200ms ease;
    border-radius: 30px;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #000000;
}

.prev-btn-serv.service-cust-nav {
    transform: rotateY(180deg);
}

.prev-btn-prod.service-cust-nav {
    transform: rotateY(180deg);
}

svg.service-nav-main {
    width: 10px;
    fill: #707070;
}

div.services-carousel .owl-dots {
    margin-top: 35px;
}

div.light .owl-dots .owl-dot span {
    background: #D1D1D1;
}

div.services-carousel .owl-nav {
    position: absolute;
    top: 25vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

a.service-link {
    text-decoration: none !important;
}

div.services-carousel>.owl-stage-outer {
    padding-top: 10px;
    padding-bottom: 10px;
}

.services-container {
    height: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 12px -3px #00000070;
}

/* Services Dark BG */

.prev-btn-serv-dark.service-cust-nav {
    transform: rotateY(180deg);
}

svg.dark-nav-icon {
    width: 10px;
    fill: #ffffff;
}

.dark-nav:hover>svg {
    fill: #000000;
}

#services-carousel button.owl-prev {
    position: relative;
    right: 5px;
}

#services-carousel button.owl-next {
    position: relative;
    left: 5px;
}

#services-carousel-dark button.owl-prev {
    position: relative;
    right: 5px;
}

#services-carousel-dark button.owl-next {
    position: relative;
    left: 5px;
}
