.portfolio-item {
    /* width: 1440px; */
    height: 700px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
}

.project-title,
.category-title {
    margin: 0;
    font-family: "PT Serif";
    font-weight: bold;
    font-size: 26px;
    letter-spacing: 0.05em;
    color: #3c3c3c;


}

.project-name,
.project-category {
    background: #fff;
    width: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
}

.project-category {
    padding: 15px 154px 15px 30px;
    border-radius: 10px 0px 25px 0px;
    box-shadow: 7px 7px 15px rgb(255 255 255 / 28%);
}

.project-name {
    padding: 15px 30px 15px 154px;
    border-radius: 25px 0px 10px 0px;
    box-shadow: -7px -7px 15px rgba(255, 255, 255, 0.28);
    align-self: flex-end;

}

div.portfolio-carousel .owl-dots {
    width: max-content;
    position: absolute;
    bottom: 15px;
    left: 30%;
}

.am-prev.cust-nav {
    transform: rotateY(180deg);
}

svg.nav-main {
    width: 10px;
    fill: #c6c6c6;
}

div#portfolio-carousel {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

div.portfolio-carousel .owl-nav {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 97%;
}

.cust-nav {
    display: flex;
    align-content: center;
    align-items: center;
    padding: 10px !important;
}

.owl-theme .owl-nav [class*='owl-']:hover {
    background: #fff;
    border-radius: 5px;
}

.cust-nav:hover>svg.nav-main {
    fill: #000000;
}

.owl-theme .owl-dots {
    text-align: center;
    -webkit-tap-highlight-color: transparent;
}

.owl-theme .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
    *display: inline;
}

.owl-theme .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    background: #C2C2C2;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity 200ms ease;
    border-radius: 30px;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #676767;
}
a.portfolio-link {
    text-decoration: none !important;
}